.vs
*.sln
DerivedDataCache/
Intermediate/
Saved/
Binaries/Win64
Build/
Content/Collections
Content/Developers
Content/ExternalContent
.idea/.idea.ProjectRevival/.idea
.idea/.idea.ProjectRevival/.idea/codeStyles
*.pdb
*.dll
*.target
*.xml
.clang-format.txt
*.sln.*
*.uproject
*BuiltData.uasset
*.sln
